﻿@model BlogChallenge.Models.ViewModels.BlogPostViewModel

@{
    ViewBag.Title = "Eliminar";
}

<h2>Eliminar post</h2>

<h3>¿Está seguro de que desea eliminar?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Título
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        @*<dt>
                Contenido
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Content)
            </dd>*@

        @*<dt>
                Imagen
            </dt>

            <dd>
                <img src="@Url.Action("RetrieveImage","BlogPosts",new {id=Model.Id})" />
            </dd>*@

        <dt>
            Categoría
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category)
        </dd>

        <dt>
            Fecha de Publicación
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PublishDate)
        </dd>


    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Volver al inicio", "Index")
        </div>
    }
</div>
