﻿@model BlogChallenge.Models.ViewModels.BlogPostViewModel

@{
    ViewBag.Title = "Detalles";
}

<h2>Detalles</h2>
<h3 style="color:slategrey">@Html.DisplayFor(model => model.Title)</h3>
<img src="@Url.Action("RetrieveImage","BlogPosts",new {id=Model.Id})" />
<div>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            Categoría
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category)
        </dd>

        <dt>
            Fecha de Publicación
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PublishDate)
        </dd>

    </dl>
</div>

<p>
    <hr />
    @Html.DisplayFor(model => model.Content)
</p>

<p>
    <hr />
    @Html.ActionLink("Volver al inicio", "Index")
</p>
