﻿@model List<BlogChallenge.Models.ViewModels.BlogPostViewModel>

@{
    ViewBag.Title = "Blog";
}

<h2>Posts</h2>

<p>
    @Html.ActionLink("Agregar post", "Create")
</p>

<div class="table-responsive">
    <table class="table table-striped">

        @foreach (var item in Model)
        {
            if (item.State)
            {
                <tr>
                    <td>
                        <i style="color:slategrey;font-size:30px;">@item.Title</i>
                    </td>

                    <td>
                        @Html.ActionLink("Editar", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Detalles", "Details", new { id = item.Id }) |
                        @Html.ActionLink("Eliminar", "Delete", new { id = item.Id })
                    </td>
                </tr>
            }
        }

    </table>
</div>

