﻿@model List< BlogChallenge.Models.ViewModels.BlogPostViewModel>

@{
    ViewBag.Title = "Búsqueda";
}

<h2>Buscar post</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.Label("Titulo", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.Editor("title", new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Buscar" class="btn btn-default" />
            </div>
        </div>
    </div>
}

@if (Model.Count() == 0)
{
    <br />
    <b>No hay resultados</b>
}
else
{
    <div class="table-responsive">
        <table class="table table-striped">
            <tr>
                <th>
                    Post
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {

                <tr>
                    <td>
                        <a href="~/Blogs/Details/@item.Id"><i style="color:slategrey;font-size:30px;"> @Html.DisplayFor(modelItem => item.Title)</i></a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PublishDate)
                    </td>
                    <td>
                        @if (item.State)
                        {
                            <div>Publicado</div>
                        }
                        else
                        {
                            <div>Sin publicar</div>
                        }
                    </td>
                    <td>
                        @Html.ActionLink("Editar", "Edit", new { id = item.Id })
                    </td>
                </tr>
            }

        </table>
    </div>
}



